.container {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

h1 {
  text-align: center;
  margin: 0 20px 20px 20px;
}

.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userCard {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
  justify-content: space-between;
  border-radius: 8px;
  width: calc(50% - 20px);
}

.userCard p {
  margin: 10px 0;
  color: #555;
}

.detailsLink {
  color: #1e90ff;
  text-decoration: none;
}

.detailsLink:hover {
  text-decoration: underline;
}
